<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thanh Hai Mai &middot; Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thanh Hai Mai Personal Website">
    <meta name="author" content="Thanh Hai Mai">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span2 offset2">
          <div>
            <h3>Thanh Hai Mai</h3>
            <img class="img-polaroid" src="img/thm.png" />
            <ul class="nav nav-list">
              <li class="nav-header">~~ I hope you dance ~~</li>
              <li class="active"><a href="/">About me</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/mai/resume.pdf">Resume</a></li>
              <li class="nav-header">Externals</li>
              <li><a href="//github.com/thanhhaimai">GitHub</a></li>
              <li><a href="//linkedin.com/in/thanhhaimai">LinkedIn</a></li>
            </ul>
          </div>
        </div>
        <div class="span6 well">
          <p class="lead">So, I have been promising myself to make a website..</p>
          <p>..however, what I did was just keep making one, scrap it, and made another one. I've never published any of my draft. I think about it today, and I realize that if I keep doing so, I would never publish anything! So, I'll just put up a draft to my website now. It's nothing fancy, but having it published (and knowing that it isn't beautiful) will motivate me to update it. Also, I just don't like using wordpress for my personal website.</p>
          <p class="lead">Quick introduction</p>
          <p>Thanh Hai Mai is a bad student. He spent his time in class working on an invisible helicopter instead of listening to Hilfinger. Furthermore, he usually interrupts the lecture and asks philosophy questions, none related to the coursework. Although he’s handsome, he’s also cocky and thus is very infamous at Berkeley. He won several break-a-thons because he used his invisible helicopters to radiate Higgs bosoms and destroyed competitors’ projects. “He’s the kind of person who would backstab you and smile,” his friend, Kevin Hwang, once commented. In addition, he’s kind of mean and will not help his friends unless they give him cookies or mint chocolate. He’s definitely worth checking out though because someone that bad is kind of a rare find.</p>
        </div>
      </div>
    </div>
  </body>
</html>

