<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap.min.css' media="screen"/>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>need some "content" and not happy</p>

    <script src="code.jquery.com/jquery.min.js" />
    <script src="js/bootstrap.min.js" />
  </body>
</html>
