<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thanh Hai Mai &middot; Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thanh Hai Mai Personal Website">
    <meta name="author" content="Thanh Hai Mai">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span2 offset2">
          <div>
            <h3>Thanh Hai Mai</h3>
            <img class="img-polaroid" src="img/thm.png" />
            <ul class="nav nav-list">
              <li class="nav-header">~~ I hope you dance ~~</li>
              <li><a href="/">About me</a></li>
              <li class="active"><a href="/projects">Projects</a></li>
              <li><a href="resume.pdf">Resume</a></li>
              <li class="nav-header">Externals</li>
              <li><a href="//github.com/thanhhaimai">GitHub</a></li>
              <li><a href="//linkedin.com/in/thanhhaimai">LinkedIn</a></li>
            </ul>
          </div>
        </div>
        <div class="span6 well">
          <p>Coming soon. In the mean time, please check out my <a href="//linkedin.com/in/thanhhaimai">LinkedIn</a>. It has description to a hand full of my previous projects.</p>
        </div>
      </div>
    </div>
  </body>
</html>

